# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Local env / secrets
.env

# Logs
*.log
token.json
credentials.json
sa.json
.tests/
tests/
